<div class="center">
    <div class="content center pad">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Me encanta el desarrollo de aplicaciones con Python 🐍</h1>
                <p>Constantemente me encuentro aprendiendo y desarrollando con nuevas tecnologías, es todo un placer hacerlo.</p><p>Esta web la construí desde 0 con Flask, HTML y CSS.</p>
            </div>
            <div class="right padded">
                <h1>¿Necesitas algo? 🧐</h1>
                <p>Sólo envíame un correo <a href="#Contacto" class="blue cont">Dando clic aquí</a></p>
            </div>
        </div>
    </div>
</div>